<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>
    <div class="section1">

        <h1>About us</h1>
        <div class="flex">
           <div>
            <p>Welcome to WillaZilla, your all-in-one platform for self-care and well-being. 
                Our mission is to empower individuals to take charge of their mental and physical health by providing accessible, intuitive, and effective self-care tools.</p>
       
               <h2>Who We Are</h2>
               <p>We are a passionate team dedicated to promoting self-care through technology. Our platform was designed with the belief that taking care of yourself should be simple, enjoyable, and rewarding. By integrating various self-care resources into one seamless experience, we aim to support users in building sustainable wellness habits.</p>
               <h2>What We Offer</h2>
               <p>Our platform provides a comprehensive suite of self-care tools, including:</p>

               <ul class="lists">
                <!-- <li><a href="pomodoro_timer.html">Pomodoro Timer</a></li>
                <li><a href=""><a href="">Meal Planning & Recipes</a></li>
                <li><a href="">Fitness & Stretching Exercises</a></li> -->

                
                <li><a href="pomodoro_timer.html">Pomodoro Timer</a></li>
                <li><a href="meal_planner.html">Meal Planning & Recipes</a></li>
                <li><a href="fitness.html">Fitness & Stretching Exercises</a></li>
            
               </ul>

               <h2>Our Vision</h2>
               <p>We envision a world where self-care is a priority, not a luxury. Our goal is to create a platform that fosters mindfulness, productivity, and overall well-being, helping users cultivate healthy habits that last a lifetime.</p>

               <h2>Join Us on This Journey</h2>
               <p>We invite you to explore our self-care tools and make well-being an integral part of your daily routine. Whether you’re looking to improve focus, enhance your mood, or establish healthier habits, [Your Website Name] is here to support you every step of the way.</p>
           </div>
            <img src="{{ url_for('static', filename='images/about.jpg') }}" alt="My Image" alt="" class="about_img">
        </div>
    </div>
   
    <footer>
        
    </footer>
    
</body>
</html>



